<p>Oops! Looks like you tried to enter the serial number of an existing product.</p>
<ul>
  <li><a href="/add_prod">Add a new product</a></li>
  <li><a href="/update_prod">Update an existing product</li>
</ul>