<h3>View the monetary value of a set group of products</h3>
<p>The value of all product inventory in  "<%= @category_name %>" is <%= @value %>.</p>
<p><em>Further product actions:</em><br>
  <ul>    
    <li><a href="/add_prod"> Add another new product</a></li>
    
    <li><a href="/delete_prod">Delete an existing product</a></li>

    <li><a href="/update_prod">Update a product's information</a></li>
   
    <li><a href="/retrieve_prods_cat">Retrieve all products in a given category</a></li>
    
    <li><a href="/retrieve_prods_loc">Retrieve all products in a given location</a></li>
  </ul>
</p>
    