<h3>View the monetary value of a set group of products</h3>
<p>Please choose from the list below:</p>
<ul>
  <li><a href="/mon_val_all">All products</a></li>
  <li><a href="/mon_val_loc">Products at a specific location</a></li>
  <li><a href="/mon_val_cat">Products in a specific category</a></li>
</ul>
