<h3>Your location has been added!</h3>
<p><%= @all_new_loc_info %>
<p><em>Further location actions:</em><br>
  <ul>    
    <li><a href="/new_loc"> Add another new location</a></li>
    
    <li><a href="/delete_loc">Delete an existing location</a></li>

    <li><a href="/update_loc">Update a location's information</a></li>
   
    <li><a href="/retrieve_prods_loc">Retrieve all products in a given location</a></li>
    
    <li><a href="/update_prod">Add products to your new location</a></li>
  </ul>
</p>