<p>Oops! Looks like you tried to enter the name of an existing category.</p>
<ul>
  <li><a href="/new_cat">Add a new category</a></li>
  <li><a href="/update_cat">Update an existing category</li>
</ul>