<h3>Your category has been added!</h3>
<p><%= @all_new_cat_info %>
<p><em>Further category actions:</em><br>
  <ul>    
    <li><a href="/new_cat"> Add another new category</a></li>
    
    <li><a href="/delete_cat">Delete an existing category</a></li>

    <li><a href="/update_cat">Update a category's information</a></li>
   
    <li><a href="/retrieve_prods_cat">Retrieve all products in a given category</a></li>
    
    <li><a href="/update_prod">Add products to your new category</a></li>
  </ul>
</p>