<p>Oops! Looks like you tried to enter the name of an existing location.</p>
<ul>
  <li><a href="/new_loc">Add a new location</a></li>
  <li><a href="/update_loc">Update an existing location</li>
</ul>