<p>Pick the action you'd like to take from the list below:</p>
<h3>Products</h3>
<br>
<ul>
  <li><a href="view_prod">View a product's information</a></li>
  <li><a href="/add_prod">Add a new product</a></li>
  <li><a href="/delete_prod">Delete an existing product</a></li>
  <li><a href="/update_prod">Update a product's information</a></li>
  <li><a href="/view_prods_cat">Retrieve all products in a given category</a></li>
  <li><a href="/view_prods_loc">Retrieve all products in a given location</a></li>
  <li><a href="/mon_val_prods">View the monetary value of a set group of products</a></li>
</ul><br>
<br>
<h3>Locations</h3>
<br>
<ul>
  <li><a href="/new_loc">Add a new location</a></li>
  <li><a href="/delete_loc">Delete an existing location</a></li>       
  <li><a href="/update_loc">Update a location's information</a></li>
</ul>
<br>
<br>
<h3>Categories</h3>
<br>
<ul>
  <li><a href="/new_cat">Add a new category</a></li>
  <li><a href="/delete_cat">Delete an existing category</a></li>
  <li><a href="/update_cat">Update a category's information</a></li>
</ul>





         
         
         

         
         
         

         
         

         

         

         

