<h3>View product' information</h3>    
<p>For which category would you like to view products?</p>
<form action="/view_prods_cat_choice">
  <select name="category_id">
  <% @all_categories_info_array.each do |hash| %>
  <option value="<%= hash["id"] %>"><%= hash["name"]%></option>
  <% end %>
  </select>
  <br><br>
  
  <input type="submit" value="Submit">
  <br><br>

</form>
  